/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2019, 12:41:46 PM
    Author     : edivargas
*/
body {
    background-color: lightskyblue;   
    color: black;
}

#logoImg {
    height: 40px;
    width: auto;
}
