/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2019, 12:41:46 PM
    Author     : edivargas
*/
body {
    background-color: black; 
    color: greenyellow;
}

#logoImg {
    height: 40px;
    width: auto;
}
.logoImg2 {
    height: 40px;
    width: auto;
}
.oddRows {
    background-color: lightgray;
}

.evenRows {
    background-color: gray;
}
.oddColumns {
    color: red;
}
.evenColumns {
    color: magenta;
}
.rightColumn {
    text-align: right;
}

.headerColumn {
    color: white;
    background-color: #222222;
}

._20Column {
    width: 20%;
}

._40Column {
    width: 40%;
}



