<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{bundleMsg.app_title}</title>
        <h:outputStylesheet library="#{userSession.theme}" name="principal.css" />
    </h:head>
    <h:body>
        <h:panelGrid columns="2">
            <h:graphicImage id="logoImg" library="#{userSession.theme}"
                            name="#{bundleMsg.app_logo}">
            </h:graphicImage>
            <h:outputText id="welcomeLabel" 
                          value="#{bundleMsg.pagina1_welcome}"/>
        </h:panelGrid>
        <h:form>
            <h:commandButton id="regresarBtn"
                             value="#{bundleMsg.pagina1_regresar}"
                             action="#{utilMB.navega('pagina1')}"
                             />
        </h:form>
    </h:body>
</html>

