<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <style>
            /* -------------------- Page Styles (not required) */
            div { margin: 20px; }

            /* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
            /* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
            .styled-select {
                background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
                height: 29px;
                overflow: hidden;
                width: 240px;
            }

            .styled-select select {
                background: transparent;
                border: none;
                font-size: 14px;
                height: 29px;
                padding: 5px; /* If you add too much padding here, the options won't show in IE */
                width: 268px;
            }

            .styled-select.slate {
                background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
                height: 34px;
                width: 240px;
            }

            .styled-select.slate select {
                border: 1px solid #ccc;
                font-size: 16px;
                height: 34px;
                width: 268px;
            }

            /* -------------------- Rounded Corners */
            .rounded {
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }

            .semi-square {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

            /* -------------------- Colors: Background */
            .slate   { background-color: #ddd; }
            .green   { background-color: #779126; }
            .blue    { background-color: #3b8ec2; }
            .yellow  { background-color: #eec111; }
            .black   { background-color: #000; }

            /* -------------------- Colors: Text */
            .slate select   { color: #000; }
            .green select   { color: #fff; }
            .blue select    { color: #fff; }
            .yellow select  { color: #000; }
            .black select   { color: #fff; }


            /* -------------------- Select Box Styles: danielneumann.com Method */
            /* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
            #mainselection select {
                border: 0;
                color: #EEE;
                background: transparent;
                font-size: 20px;
                font-weight: bold;
                padding: 2px 10px;
                width: 378px;
                *width: 350px;
                *background: #58B14C;
                -webkit-appearance: none;
            }

            #mainselection {
                overflow:hidden;
                width:350px;
                -moz-border-radius: 9px 9px 9px 9px;
                -webkit-border-radius: 9px 9px 9px 9px;
                border-radius: 9px 9px 9px 9px;
                box-shadow: 1px 1px 11px #330033;
                background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
            }


            /* -------------------- Select Box Styles: stackoverflow.com Method */
            /* -------------------- Source: http://stackoverflow.com/a/5809186 */
            select#soflow, select#soflow-color {
                -webkit-appearance: button;
                -webkit-border-radius: 2px;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                -webkit-padding-end: 20px;
                -webkit-padding-start: 2px;
                -webkit-user-select: none;
                background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
                background-position: 97% center;
                background-repeat: no-repeat;
                border: 1px solid #AAA;
                color: #555;
                font-size: inherit;
                margin: 20px;
                overflow: hidden;
                padding: 5px 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 300px;
            }

            select#soflow-color {
                color: #fff;
                background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
                background-color: #779126;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                padding-left: 15px;
            }
        </style>
    </h:head>
    <h:body>
        Hello from Facelets
        <br/><br/>
        <h:form id="principalForm">
            <h:outputLabel id="userLabel" value="Usuario:" for="user" />
            <h:inputText  id="user" 
                          alt="User" title="User"
                          value="#{userSession.user}"
                          />
            <br/>
            <h:outputText id="passwordLabel" value="Esto es un ejemplo de password input"  />
            <h:inputSecret  id="password" label="Password" 
                            alt="Password" title="Password"
                            value="#{userSession.password}"
                            onclick="alert('Esto es secreto... recuerdalo');"
                            />
            <br/>
            <h:outputLabel id="valorLabel"  
                           value="Valor X (entre 10 y 20):" 
                           for="principalForm:valor"/>
            <h:inputText id="valor" size="20" maxlength="12" 
                         title="Valor Title" alt="Valor Alt"
                         label="Valor Y"
                         valueChangeListener="#{utilMB.changeValue}"
                         required="true" 
                         lang="es"
                         requiredMessage="Es requerido el valor, no tiene nada, ponle algo"
                         >
                <f:validateLongRange minimum="10" maximum="20" for="valor"/>
            </h:inputText>
            <br/>
            <h:outputText id="tipoSalaLabel"  value="Selecciona el Tipo de Sala:" />
            <h:selectOneMenu value="#{userSession.selected}"  
                             class="#{utilMB.theme}" >
                <f:selectItems value="#{cacheEJB.tipoSalas}" var="tipoSala" 
                               itemValue="#{tipoSala.idTipoSala}" 
                               itemLabel="#{tipoSala.descripcion}"
                               itemDescription="#{tipoSala.toString()}"/>
            </h:selectOneMenu>
            <br/>
            <h:outputText id="destinoLabel"  value="Selecciona la pagina siguiente:" />
            <h:selectOneMenu value="#{userSession.selectedPage}" >
                <f:selectItem itemValue="modulo1/Pagina1" itemLabel="Pagina 1" />
                <f:selectItem itemValue="/modulo1/Pagina2" itemLabel="Pagina 2" />
            </h:selectOneMenu>
            <br/><br/>
            <h:commandButton id="actionNadaBtn"  
                             value="No hace nada"
                             actionListener="#{utilMB.procesaDatosListener}"
                             action="#{utilMB.procesaDatos}"/>
            <h:commandButton id="cancelBtn"  immediate="true"
                             value="Cancelar" />
        </h:form>
        <br/>
        <h:outputText value="La fecha es #{utilMB.fecha}" />
        <br/>
        <h:outputText value="El id seleccionado es #{userSession.selected}" />
        <br/>
        <h:outputText value="El objecto seleccionado es #{cacheEJB.getTipoSalaById(userSession.selected)}" />
        <br/>
    </h:body>
</html>

