<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet library="#{utilMB.theme}" name="principal.css" />
    </h:head>
    <h:body>
        Hello from Facelets
        <br/><br/>
        <h:form id="principalForm">
            <h:commandButton id="darkStyleBtn"  immediate="true"
                             value="Dark Style" 
                             actionListener="#{utilMB.setTheme('dark')}"
                             />
            <h:commandButton id="lightStyleBtn"  immediate="true"
                             value="Light Style" 
                             actionListener="#{utilMB.setTheme('light')}"
                             />

            <h:outputLabel id="userLabel" value="Usuario:" for="user" />
            <h:inputText  id="user" 
                          alt="User" title="User"
                          value="#{userSession.user}"
                          />
            <br/>
            <h:outputText id="passwordLabel" value="Esto es un ejemplo de password input"  />
            <h:inputSecret  id="password" label="Password" 
                            alt="Password" title="Password"
                            value="#{userSession.password}"
                            />
            <br/>
            <h:outputLabel id="valorLabel"  
                           value="Valor X (entre 10 y 20):" 
                           for="principalForm:valor"/>
            <h:inputText id="valor" size="20" maxlength="12" 
                         title="Valor Title" alt="Valor Alt"
                         label="Valor Y"
                         valueChangeListener="#{utilMB.changeValue}"
                         required="true" 
                         lang="es"
                         requiredMessage="Es requerido el valor, no tiene nada, ponle algo"
                         >
                <f:validateLongRange minimum="10" maximum="20" for="valor"/>
            </h:inputText>
            <br/>
            <h:outputText id="tipoSalaLabel"  value="Selecciona el Tipo de Sala:" />
            <h:selectOneMenu value="#{userSession.selected}"
                             >
                <f:selectItems value="#{cacheEJB.tipoSalas}" var="tipoSala" 
                               itemValue="#{tipoSala.idTipoSala}" 
                               itemLabel="#{tipoSala.descripcion}"
                               itemDescription="#{tipoSala.toString()}"/>
            </h:selectOneMenu>
            <br/>
            <h:outputText id="destinoLabel"  value="Selecciona la pagina siguiente:" />
            <h:selectOneMenu value="#{userSession.selectedPage}" >
                <f:selectItem itemValue="modulo1/Pagina1" itemLabel="Pagina 1" />
                <f:selectItem itemValue="/modulo1/Pagina2" itemLabel="Pagina 2" />
            </h:selectOneMenu>
            <br/><br/>
            <h:commandButton id="actionNadaBtn"  
                             value="No hace nada"
                             actionListener="#{utilMB.procesaDatosListener}"
                             action="#{utilMB.procesaDatos}"/>
            <h:commandButton id="cancelBtn"  immediate="true"
                             value="Cancelar" />
        </h:form>
        <br/>
        <h:outputText value="La fecha es #{utilMB.fecha}" />
        <br/>
        <h:outputText value="El id seleccionado es #{userSession.selected}" />
        <br/>
        <h:outputText value="El objecto seleccionado es #{cacheEJB.getTipoSalaById(userSession.selected)}" />
        <br/>
    </h:body>
</html>

