<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>#{bundleMsg.app_title}</title>
        <h:outputStylesheet 
            library="#{userSession.theme}" 
            name="principal.css" />
    </h:head>
    <h:body>
        <h:panelGrid columns="2">
            <h:graphicImage id="logoImg" library="#{userSession.theme}"
                            name="#{bundleMsg.app_logo}" />
            <h:outputText id="welcomeLabel" 
                          value="#{bundleMsg.app_welcome}" />
        </h:panelGrid>        
        <br/><br/>
        <h:form id="principalForm">
            <h:commandButton id="darkStyleBtn"  immediate="true"
                             value="#{bundleMsg.user_theme_dark}" 
                             actionListener="#{userSession.setTheme('dark')}"
                             />
            <h:commandButton id="lightStyleBtn"  immediate="true"
                             value="#{bundleMsg.user_theme_light}" 
                             actionListener="#{userSession.setTheme('light')}"
                             />
            <br/>
            <br/><h:commandButton id="englishBtn"  immediate="true"
                             value="#{bundleMsg.user_lang_en}" 
                             actionListener="#{userSession.setLanguage('en')}"
                             />
            <h:commandButton id="spanishBtn"  immediate="true"
                             value="#{bundleMsg.user_lang_es}" 
                             actionListener="#{userSession.setLanguage('es')}"
                             />
            <br/>
            <br/>
            <h:outputLabel id="userLabel" 
                           value="#{bundleMsg.login_user} " for="user" />
            <h:inputText  id="user" 
                          alt="#{bundleMsg.login_user}" 
                          title="#{bundleMsg.login_user}"
                          value="#{userSession.user}"
                          required="true"
                          requiredMessage="#{bundleMsg.login_user_required}"
                          />
            <br/>
            <h:outputText id="passwordLabel" 
                          value="#{bundleMsg.login_password} " />
            <h:inputSecret  id="password" 
                            label="#{bundleMsg.login_password}" 
                            alt="#{bundleMsg.login_password}" 
                            title="#{bundleMsg.login_password}"
                            value="#{userSession.password}"
                            required="true"
                            requiredMessage="#{bundleMsg.login_password_required}"
                            />
            <br/>
            <h:commandButton id="firmarBtn"  
                             value="#{bundleMsg.login_firmar_btn}"
                             actionListener="#{utilMB.signin}"
                             action="#{utilMB.navega('login')}"
                             />
            <h:commandButton id="cancelBtn"  
                             immediate="true"
                             value="#{bundleMsg.login_cancelar_btn}" />
        </h:form>
    </h:body>
</html>

