<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundleMsg.app_title}</title>
        <h:outputStylesheet library="#{userSession.theme}" name="principal.css" />
    </h:head>
    <h:body>

        <h:panelGrid columns="2">
            <h:graphicImage id="logoImg" library="#{userSession.theme}"
                            name="#{bundleMsg.app_logo}"/>
            <h:outputText id="welcomeLabel" 
                          value="#{bundleMsg.app_welcome}" />
        </h:panelGrid>

        <br/><br/>
        <h:form id="principalForm">
            <h:outputLabel id="rfcLabel" value="RFC" />
            <h:inputText id="rfc" value="#{userSession.rfc}" 
                         converter="rfcConverter"
                         converterMessage="Escribalo con puros guiones"
                         >
                <f:validator  validatorId="rfcValidator"/>
                <f:validateLength minimum="12" maximum="13" for="rfc"/>
            </h:inputText>
            <br/>
            <h:message for="rfc" />
            <br/>
            <br/>
            <h:outputLabel id="valorLabel"  
                           value="#{bundleMsg.menu_valor_x}" 
                           for="principalForm:valor"/>
            <h:inputText id="valor" size="20" maxlength="12" 
                         title="Valor Title" alt="Valor Alt"
                         label="#{bundleMsg.menu_valor_y}"
                         valueChangeListener="#{utilMB.changeValue}"
                         required="true" 
                         lang="es"
                         requiredMessage="#{bundleMsg.menu_valor_x_required}"
                         >
                <f:validateLongRange minimum="10" maximum="20" for="valor"/>
            </h:inputText>
            <br/>
            <h:message for="valor" />
            <br/>
            <br/>
            <h:outputText id="tipoSalaLabel"  value="#{bundleMsg.menu_combo_tipoSala}" />
            <h:selectOneMenu value="#{userSession.selected}"
                             >
                <f:selectItems value="#{cacheEJB.tipoSalas}" var="tipoSala" 
                               itemValue="#{tipoSala.idTipoSala}" 
                               itemLabel="#{tipoSala.descripcion}"
                               itemDescription="#{tipoSala.toString()}"/>
            </h:selectOneMenu>
            <br/>
            <h:outputText id="destinoLabel"  value="#{bundleMsg.menu_combo_Pagina}" />
            <h:selectOneMenu value="#{userSession.selectedPage}" >
                <f:selectItem itemValue="modulo1/Pagina1" itemLabel="#{bundleMsg.menu_combo_Pagina_pagina1}" />
                <f:selectItem itemValue="/modulo1/Pagina2" itemLabel="#{bundleMsg.menu_combo_Pagina_pagina2}" />
            </h:selectOneMenu>
            <br/><br/>
            <h:commandButton id="navegaBtn"  
                             value="#{bundleMsg.menu_navegar}"
                             actionListener="#{utilMB.procesaDatosListener}"
                             action="#{utilMB.procesaDatos}"/>
            <h:commandButton id="salirBtn"  immediate="true"
                             value="#{bundleMsg.menu_logout}"
                             actionListener="#{utilMB.signoff}"
                             action="#{utilMB.navega('menu')}"/>
            <h:commandButton id="verSalaBtn"
                             value="Ver"
                             action="#{utilMB.navega('vistaSala')}"
                             />
        </h:form>
        <h:outputText value="--------" />
        <h:messages globalOnly="true" />
        <h:outputText value="--------" />
        <br/>
        <br/>
        <h:form>
            <h:dataTable id="peliculaTable"
                         value="#{userSession.peliculas}"
                         var="pelicula"
                         rowClasses="oddRows,evenRows"
                         columnClasses="oddColumns,evenColumns _40Column,oddColumns rightColumn _20Column,evenColumns _20Column"
                         headerClass="headerColumn"
                         footerClass="headerColumn"
                         >
                <h:column id="id">
                    <f:facet name="header">Id</f:facet>
                    <h:outputText value="#{pelicula.idPelicula}" />
                    <f:facet name="footer">Id</f:facet>
                </h:column>
                <h:column id="nombre">
                    <f:facet name="header">Nombre</f:facet>
                    <h:commandLink 
                        actionListener="#{salaMB.preparaSalaByIdFuncion(1)}"
                        action="vistaSala">
                        <h:outputText value="#{pelicula.nombrePelicula}" />
                    </h:commandLink>
                    <f:facet name="footer">Nombre</f:facet>
                </h:column>
                <h:column id="duracion">
                    <f:facet name="header">Duracion</f:facet>
                    <h:outputText value="#{pelicula.duracion}" />
                    <f:facet name="footer">Duracion</f:facet>
                </h:column>
                <h:column id="anio">
                    <f:facet name="header">Año</f:facet>
                    <h:outputText value="#{pelicula.anio}" />
                    <f:facet name="footer">Año</f:facet>
                </h:column>
                <h:column>
                    <h:graphicImage 
                        id="logoImg"
                        class="logoImg2"
                        library="#{userSession.theme}"
                        name="#{bundleMsg.app_logo}"/>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

