<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Configuracion Sala</title>
    </h:head>
    <h:body>
        <h:form>
            <h:inputText id="funcion" value="#{salaMB.idFuncion}"/>
            <h:commandButton id="mapaButton" value="Llenar" action="#{salaMB.preparaSala()}"/>
            #{salaMB.mapaSala.size()}
            <table>
                <c:forEach items="#{salaMB.mapaSala}" var="fila">
                    <tr>
                        <c:forEach items="#{fila}" var="asiento">
                            <td>
                                <h:commandLink 
                                    actionListener="#{salaMB.selectAsiento(asiento)}">
                                    #{asiento}
                                </h:commandLink>
                            </td>
                        </c:forEach>
                    </tr>
                </c:forEach>
            </table>    
        </h:form>

    </h:body>
</html>

